name: Deploy to PyPI

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: build
        run: python -m build
        
      - name: Publish to PyPI using OIDC
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          print-hash: true   